:root {
    --header-font: 'Gafata', sans-serif;
    --body-font: 'Oswald', sans-serif;
    --primary-color: #233D4D;
    --secondary-color: #FE7F2D;
    --tertiary-color: #FCCA46;
    --quaternary-color: #A1C181;
    --quinary-color: #579C87;
    
    --body-font: 'Gafata', sans-serif;
    --header-font: 'Oswald', sans-serif;
}