.appbar {
  .burger-icon {
    stroke: white;
  }

  button {
    font-family: "Oswald";
  }
  .welcome-message {
    color: white;
    font-size: 1.1rem;
    margin-right: 10px;

    span {
      font-weight: bold;
      color: white;
    }
  }
  .traveler-logo {
    height: 40px;
    width: 40px;
    border-radius: 50px;
    margin-top: 14px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 400px) {
  .appbar {
    .app-name {
      font-size: 1rem;
      margin: 5px;
    }
    button {
      padding: 0;
    }
    .welcome-message {
      font-size: 0.9rem;
    }
  }
}
