.dashboard {
  margin: 1rem auto;
  max-width: 1000px;
  border-radius: 20px;

  .logo {
    margin: 2rem;
    text-align: center;
  }

  h2 {
    text-align: center;
    margin: 2rem;

    .notification-number {
      background-color: var(--alert-color);
      color: white;
      padding: 2px 7px;
      border-radius: 30px;
      font-size: 1rem;
      position: relative;
      top: -15px;
      left: -5px;
    }
  }

  .dashboard-events {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-bottom: 100px;

    .event-card {
      transition: all 0.1s ease-in-out;
      &:hover {
        cursor: pointer;
      }
      &:active {
        transform: scale(0.98);
      }
    }
    a {
      text-decoration: none;
    }
  }
}
.event-card {
  &:hover {
    transform: scale(1.01);
  }
}

.no-past-event {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;
  p {
    margin-top: -100px;
  }
}

@media screen and (max-width: 1000px) {
  .dashboard {
    margin: 1rem;

    .dashboard-events {
      display: flex;
      flex-direction: column;
    }
  }
}

.welcome-screen {
  text-align: center;

  h1,
  button {
    margin: 2rem;
  }
  h1 {
    margin-top: 4rem;
  }
}
