.event-container {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: auto;
  margin-bottom: 4rem;

  @media screen and (max-width: 800px) {
    background-size: 800px auto;
    background-position: center top;
  }
}

.back-btn-container {
  margin: 0 auto;
  max-width: 800px;
  button {
    margin-left: 1rem;
  }
}
.top-container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  .owner {
    position: absolute;
    top: -2.5rem;
    right: 1rem;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 0.25rem 0.75rem;
    border-radius: 10px;
    img {
      height: 40px;
      width: 40px;
      border-radius: 30px;
      border: 2px solid var(--background-color);
      margin: 5px;
    }
    p {
      font-size: 1rem;
    }
    p span {
      font-weight: bold;
    }
  }
}
.event-content {
  background-image: none !important;
  padding-bottom: 6rem;
  @media screen and (max-width: 800px) {
    background-image: inherit !important;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top;
    background-attachment: fixed;
  }
}
.event {
  margin: 0;
  max-width: 800px;
  margin: auto;

  h1 {
    position: relative;
    top: 50%;
    margin-left: 37px;
    font-size: 2rem;
    text-align: center;
    padding: 20px 0 60px 0;
  }

  .header {
    margin-top: 40vh;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;

    .title-edit {
      position: relative;
      top: 50%;
      text-align: center;
      padding: 20px 0 60px 0;
    }
    input {
      font-size: 1.5rem;
      background-color: rgba(255, 255, 255, 0.8);
      font-family: "Oswald";
      font-size: 2rem;
      border: none;
      border-radius: 5px;
      text-align: center;
      outline: none;
      margin-left: 75px;
    }

    .buttons {
      position: relative;
      top: -100;
      margin: 1.2rem 0rem 0rem 0.5rem;
      max-height: 50px;
      display: flex;
      align-items: center;

      button {
        padding: 0.5rem;
        margin: 4px;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        transition: 0.3s;
        &:active {
          transform: scale(0.95);
        }
      }
    }
  }

  @media screen and (max-width: 550px) {
    .header {
      input {
        max-width: 250px;
      }
    }
  }

  @media screen and (max-width: 450px) {
    .header {
      input {
        max-width: 180px;
      }
    }
  }

  @media screen and (min-width: 800px) {
    .header {
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
    }
  }

  .info {
    background-color: white;
    border-radius: 35px;
    padding: 20px;
    margin-top: -40px;
    min-height: 110vh;
    @media screen and (max-width: 800px) {
      border-radius: 35px 35px 0 0;
    }
  }

  h2 {
    margin-top: 50px;
  }

  .participants {
    margin: 30px 5px;

    .flex-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 1.2rem;
    }
    .grid-container {
      display: grid;
      grid-template-columns: repeat(5, 30px);
    }

    .profile-img {
      height: 40px;
      width: 40px;
    }

    img {
      background-color: white;
      height: 40px;
      width: 40px;
      border-radius: 30px;
      border: 2px solid var(--background-color);
      margin: 5px;
    }
  }
  .location {
    .map {
      padding: 1rem;
      width: calc(100% - 2rem);
      height: 300px;
      border-radius: 10px;
    }
  }
}
.abschlussleiste {
  background-color: white;
  border-radius: 0px 0px 35px 35px;
}
.leave-or-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 4rem 0 0 0;
  gap: 2rem;
  button {
    padding: 0.5rem;
    max-width: 100px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    &:active {
      transform: scale(0.95);
    }
  }
  .leave-btn,
  .delete-btn {
    background-color: var(--alert-color);
    color: black;
    padding: 1rem;
  }
}

.event-description {

  .description-show {
    display: grid;
    grid-template-columns: auto 50px;
    font-size: 1.1rem;
    margin: 1rem;
    align-items: flex-start;
    
      .edit-btn {
        padding: 0.5rem;
        border: none;
        cursor: pointer;
        transition: 0.3s;
        margin-left: 1rem;
        border-radius: 30px;
        &:active {
          transform: scale(0.95);
        }
        &:hover {
          background-color: rgb(210, 210, 210);
        }
      }

      .save-btn {
        background-color: var(--secondary-color);
        color: black;
      }
      .edit-btn {
        background-color: rgb(230, 230, 230);
      }
    }

  h1,
  h2,
  h3
  {
    margin: 0;
    padding: 0;
    text-align: left;
  }
  h1 {
    font-size: 1.6rem;
  }
  h2 {
    font-size: 1.4rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  ol,
  ul,
  p {
    margin: 10px 0;
  }
  li {
    margin: 0 1.5rem;
  }
  .description-edit{
    flex-direction: column;

    .save {
      display: flex;
      margin-top: 1rem;
      justify-content: center;
    }

    .save-btn, .close-btn {
      padding: 0.5rem;
      border: none;
      cursor: pointer;
      transition: 0.3s;
      margin-left: 1rem;
      border-radius: 30px;
      &:active {
        transform: scale(0.95);
      }
      &:hover {
        background-color: rgb(210, 210, 210);
      }
    }
    
    .save-btn {
      background-color: var(--secondary-color);
      color: black;
    }
    .edit-btn {
      background-color: rgb(230, 230, 230);
    }
  }
}
