.event {
  margin: 0;
  height: 100dvh;
  padding-bottom: 250px;
  max-width: 800px;
  margin: auto;

  h1 {
    position: relative;
    top: 50%;
    width: 100%;
    font-size: 2rem;
    text-align: center;
    padding: 20px 0 60px 0;
  }

  .header {
    margin-top: 40vh;
    background-color: rgba(255, 255, 255, 0.7);
  }

  .info {
    background-color: white;
    border-radius: 35px 35px 0px 0px;
    padding: 20px;
    margin-top: -40px;
    min-height: 110vh
  }

  .text {
    font-size: 1.2rem;
    margin: 1rem;
  }

  h2 {
    margin-top: 50px;
  }

  .participants {
    margin: 30px 5px;

    .flex-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 1.2rem;
    }
    .grid-container {
      display: grid;
      grid-template-columns: repeat(5, 30px);
    }

    .profile-img {
      height: 40px;
      width: 40px;
    }

    img {
      background-color: white;
      height: 40px;
      width: 40px;
      border-radius: 30px;
      border: 2px solid var(--background-color);
      margin: 5px;
    }
  }
}
