.expenses {
  .expenses-inside {
    margin: 1rem;
  }
  .expenses-form {
    display: grid;
    width: 100%;
    gap: 10px;
    grid-template-columns: 2fr 0.6fr auto;
    margin: 2rem 0;
  }
  .expense-item {
    display: grid;
    align-items: center;
    gap: 10px;
    padding: 12px 0;
    border-bottom: 1px solid var(--headingBG-color);
    &.grid3 {
      grid-template-columns: 60px auto 60px;
    }
    &.grid4 {
      grid-template-columns: 60px auto 60px 50px;
    }
    button {
      padding: 5px;
      border-radius: 30px;
      min-width: 0;
      margin: auto;
    }
  }
  .expense-amount {
    text-align: right;
  }
  .expense-total {
    padding: 5px 10px;
    border-bottom: 1px solid var(--headingBG-color);
    text-align: right;
    margin: 5px;
    font-weight: bold;
  }
  .average-box {
    margin: 1rem;
    text-align: center;
  }
  .average {
    font-size: 1.5rem;
  }
  .user-amount {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .user-amount-item {
    border: 2px solid var(--headingBG-color);
    padding: 20px;
    border-radius: 20px;
    p {
      margin: 5px 0;
    }
  }
  .user-amount--bold {
    font-weight: bold;
  }
}

@media screen and (max-width: 600px) {
  .expenses {
    .expenses-form {
      grid-template-columns: 2fr 1.1fr auto !important;
    }
  }
}

@media screen and (max-width: 450px) {
  .expenses {
    .expenses-form {
      display: flex;
      flex-direction: column;
    }
  }
}
