* {
  margin: 0;
  padding: 0;
  font-family: "Gafata", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #222;
}

/* COLORS */
:root {
  --alert-color: #fe7f2d;
  --headingBG-color: #fcca46;
  --background-color: #233d4d;
  --secondary-color: #a1c181;
  --primary-color: #619b8a;

  --body-font: "Gafata", sans-serif;
  --header-font: "Oswald", sans-serif;
}

/* HEADINGS */
h1,
h2,
h3 {
  font-family: "Oswald", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
}

h2.event-heading {
  background-color: var(--headingBG-color);
  padding: 6px 30px;
  border-radius: 30px;
  font-size: 1.4rem;
}

/* DEFAULT FONT FOR MUI */

.MuiBox-root {
  .MuiFormControl-root * {
    font-family: "Gafata";
  }
}

button.MuiButtonBase-root {
  font-family: "Gafata";
}

div.MuiFormControl-root * {
  font-family: "Gafata"; 
}

/* STANDARD BUTTONS */
button {
  &.btn-grey {
    background-color: rgb(241, 241, 241);
    color: #222;
    padding: 1rem;
    border: none;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background-color: var(--secondary-color);
    }
    &:active {
      background-color: var(--secondary-color);
    }
  }

  &.btn-red {
    background-color: rgb(241, 241, 241);
    color: #222;
    padding: 1rem;
    border: none;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background-color: var(--alert-color);
    }
    &:active {
      background-color: var(--alert-color);
    }
  }

  &.btn-green {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border: none;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background-color: var(--secondary-color);
    }
    &:active {
      background-color: var(--secondary-color);
    }
  }
}

img {
  &.profile-small {
    background-color: white;
    height: 40px;
    width: 40px;
    border-radius: 30px;
    border: 2px solid var(--background-color);
    margin: 5px;
  }
}
