.time-infobox {
  background-color: var(--headingBG-color);
  border-radius: 30px;
  font-size: 20px;

  .time-grid-container {
    padding: 15px 10px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
  }

  .time-grid-container > div {
    padding: 0 30px;
  }

  .time-date {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    &.edit {
      flex-direction: column;
    }

    .day {
      font-size: 2.2em;
      font-family: "Oswald";
      line-height: 1.2;
    }
    input {
      padding: 0.5rem;
      border: none;
      font-size: 1rem;
      &:focus {
        border: 2px solid var(--primary-color);
        border-radius: 10px;
        outline: none;
      }
    }
    .buttons {
      position: relative;
      top: -100;
      margin: 5px;
      max-height: 50px;
      display: flex;
      align-items: center;

      button {
        padding: 0.5rem;
        margin: 4px;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        transition: 0.3s;
        &:active {
          transform: scale(0.95);
        }
      }
    }
  }
  .host-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    p {
      font-family: "Oswald";
    }
  }
  .time-center {
    border-right: 1px solid black; 
    border-left: 1px solid black; 
    display: flex;
    flex-direction: column;
    justify-content: center;

    .day-container {
      display: flex;
      gap: 1rem;
      align-items: center;
    }
    .day {
      font-size: 1.5em;
      text-transform: uppercase;
      font-family: "Oswald";
      line-height: 1.5;
    }
    input {
      font-size: 1.1rem;
      max-width: 50px;
      padding: 2px;
    }
  }
  .time-envelope {
    align-self: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 90px;
    transition: all 0.2s ease-in-out;

    &:active {
      transform: scale(0.95);
    }
    svg {
      font-size: 5rem;
    }
  }
  .red-circle {
    position: absolute;
    top: 0;
    right: 10%;

    p {
      background-color: var(--alert-color);
      border-radius: 15px;
      padding: 3px 3px;
      color: white;
      font-family: "Oswald";
      text-align: center;
      font-size: 1rem;
      min-height: 26px;
      min-width: 26px;
    }
  }

  .event-image {
    background-size: 150%;
    background-position: center;
    border-radius: 0px 0px 30px 30px;
  }

  .description {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px 30px 25px 30px;
    border-radius: 0px 0px 30px 30px;
    margin-bottom: 0px;

    .title {
      text-transform: uppercase;
      font-family: "Oswald";
      font-size: 1.4em;
      opacity: 1;
    }

    .host {
      font-size: 1.1rem;
      margin-top: 10px;
      font-family: "oswald";
    }
  }
}

@media screen and (max-width: 550px) {
  .time-infobox {
    font-size: 16px;

    .time-grid-container {
      padding: 15px 15px 15px 0px;
      grid-template-columns: repeat(3, auto);
    }

    .time-grid-container > div {
      padding: 0 15px;
    }

    .time-envelope {
      justify-self: flex-end;
      padding-left: 5px;
      svg {
        font-size: 4rem;
      }
    }
    .red-circle {
      right: 0%;
    }
  }
}

@media screen and (max-width: 400px) {
  .time-infobox {
    font-size: 14px;
    /* width: 90vw; */
  }
}
