.modal {
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(255, 255, 255, 1);
}

.messages-container {
  max-width: 800px;
  margin: 0rem auto;
  margin-bottom: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.messages-header-h2 {
  text-align: center;
  h2 {
    color: var(--background-color);
    font-size: 1.5rem;
    margin-top: 0rem !important;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

.messages-header-close {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 2rem;
  height: 2rem;
  button {
    margin-right: 1rem;
    position: fixed;
  }
}

.message-list {
  margin-top: 3rem;
  padding: 1rem;
  ul {
    width: 100%;
    list-style: none;
    .message {
      background-color: rgba(97, 155, 138, 0.5);
      margin-bottom: 1rem;
      padding: 1rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      border-radius: 10px;
      img {
        align-self: flex-start;
        width: 50px;
        height: 50px;
      }
      .message-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        .message-sender {
          margin-left: 0.5rem;
          font-weight: bold;
        }
        .message-text {
          flex: 1;
          margin-left: 0.5rem;
        }
      }
      .file {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        align-items: baseline;

        .file-container {
          margin-left: 0.5rem;
          transition: 0.2s ease-in-out;
          cursor: pointer;
          &:hover {
            transform: scale(1.05);
          }
          &:active {
            transform: scale(0.95);
          }
          img {
            width: 60px;
            height: auto;
            aspect-ratio: 1/1;
            object-fit: cover;
            border-radius: 10px;
          }
        }
      }
      .message-date {
        flex: 0 1 auto;
        font-size: 0.8rem;
        color: rgb(80, 80, 80);
        margin-left: 0.5rem;
        white-space: nowrap;
        align-self: flex-start;
      }
    }
    .sender {
      background-color: #fde6a7;
    }
  }
}

.message-input {
  position: sticky;
  padding: 1rem;
  padding-top: 0;
  bottom: 0;
  form {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    align-items: center;
    .inputfile {
      width: 40px;
      height: 40px;
      display: none;
    }
    .preview-img-message-container,.preview-pdf-message-container {
      position: relative;
      .preview-img-message, .document-icon {
        width: 60px;
        height: auto;
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius: 10px;
      }
      .remove-preview{
        position: absolute;
        bottom: 0;
        right: 0;
        border: 1px solid #333;
        padding: 0;
        background-color: var(--alert-color);
        .icon {
          font-size: 1rem;
          color: white;
          padding: 0.5rem;
        }
      }
    }
    .inputtext {
      flex: 1;
      height: 4rem;
      border: 1px solid var(--background-color);
      border-radius: 25px;
      padding: 0 1rem;
      font-size: 1rem;
      &:focus {
        outline: none;
      }
    }
    .fileLabel {
      display: flex;
      justify-content: center;
      background-color: var(--secondary-color);
      cursor: pointer;
      border: none;
      border-radius: 4px;
      font-size: 1.5rem;
      padding: 0.5rem;
      &:active {
        transform: scale(0.95);
      }
    }
    button {
      padding: 1rem;
      background-color: var(--headingBG-color);
      color: var(--background-color);
      border: none;
      border-radius: 50%;
      font-size: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.2s ease-in-out;
      &:active {
        transform: scale(0.95);
      }
    }
  }
}
