.notifications {
  h3 {
    text-align: center;
    margin: 1rem;
  }

  .notification {
    display: flex;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid lightgrey;
    padding: 15px 15px;
    border-radius: 3px;
    max-width: 500px;
    margin: 0 auto;

    img {
        height: 40px !important;
        width: 40px !important;
      }
  }

  .buttons {
    display: flex;
    margin-left: auto;
    justify-content: space-evenly;
    gap: 15px;

    button {
      padding: 10px 20px;
      margin: 0;
    }
  }
}

@media screen and (max-width: 600px) {
  .notifications {
    display: flex;
    flex-direction: column;
  }
}
