.notifications {
  /* display: flex;
      flex-wrap: wrap; */
  h3 {
    text-align: center;
    margin: 1rem;

    
  }
.second-h3 {

margin-top: 2rem;
}
  .notification {
    display: flex;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid lightgrey;
    padding: 15px 15px;
    border-radius: 3px;
    max-width: 500px;
    margin: 0 auto;

    img {
      height: 40px !important;
      width: 40px !important;
    }
  }

  .buttons {
    display: flex;
    margin-left: auto;
    justify-content: space-evenly;
    gap: 10px;
    flex-direction: column;

    button {
      padding: 8px 12px;
      margin: 0;
    }
  }
}

@media screen and (max-width: 600px) {
  .notifications {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 1000px) {
  .notifications {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .buttons {
      flex-direction: column;
    }
    .second-h3 {
  
      margin-top: 0rem;
      }
  }
}
