.profile-circle {
  height: 40px;
  width: 40px;
  background-color: var(--headingBG-color);
  border: 2px solid var(--background-color);
  border-radius: 30px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.participant-modal {
  max-width: 800px;
  padding: 1rem;
  margin: 0 auto;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2ch;
    h2 {
      margin: 0 auto;
    }
  }
  .participant-container {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.2rem;
    margin: 5px 0;
    width: 100%;
    .btn-disabled {
      margin-right: 1rem;
    }
    .leave-event {
      margin-left: auto;
      margin-right: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      button {
        padding: 0.5rem;
        max-width: 100px;
        border: none;
        cursor: pointer;
        transition: 0.3s;
        border-radius: 0px !important;
        &:active {
          transform: scale(0.95);
        }
      }
      .leave-btn,
      .delete-btn {
        background-color: var(--alert-color);
        color: black;
        padding: 0.5rem;
        border-radius: 0px !important;
      }
    }
  }

  .all-invited {
    margin: 30px;
  }

  .btn-grey,
  .btn-red {
    margin-left: auto;
    margin-right: 1rem;
  }

  .button-container {
    display: flex;
    justify-content: flex-end;
  }

  .btn-center {
    text-align: center;
  }
  .email-invitation-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 auto;
    align-items: center;
    padding: 0 1rem;
  }
  label {
    margin-top: 1rem;
    font-size: 1rem;
  }
  form {
    flex: 1 0;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 0 auto;
    input {
      width: 100%;
      padding: 0.5rem;
      border-radius: 10px;
      border: none;
      outline: none;
      border: 1px solid var(--headingBG-color);
      &:focus {
        box-sizing: border-box;
        border: 2px solid var(--headingBG-color);
      }
    }
    button {
      width: 100px;
      border-radius: 10px;
      border: none;
      background-color: var(--secondary-color);
      color: white;
      cursor: pointer;
      transition: all 0.3s;
      &:active {
        transform: scale(0.95);
      }
    }
  }
  p {
    margin-bottom: 2rem;
    color: var(--secondary-color);
    font-size: 1.2rem;
  }
}
#show-participants-btn {
  margin-right: 0.5rem;
}

@media screen and (max-width: 420px) {
  #show-participants-btn {
    max-width: 90px;
    padding: 0.5rem;
    font-size: 0.75rem;
    margin-right: 0.5rem;
  }
}
