.profile-circle {
  height: 40px;
  width: 40px;
  background-color: var(--headingBG-color);
  border: 2px solid var(--background-color);
  border-radius: 30px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.participant-modal {
  max-width: 800px;
  padding: 1rem;
  margin: 0 auto;

  h2 {
    margin-top: 10px;
  }

  .participant-container {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.2rem;
    margin: 5px 0;
    width: 100%;
  }

  .all-invited {
    margin: 30px;
  }

  .btn-grey, .btn-red {
    margin-left: auto;
    padding: 0.5rem
  }

  .button-container {
    display: flex;
    justify-content: flex-end;
  }

  .btn-center {
  text-align: center;
  }
}

@media screen and (max-width: 420px) {
  #show-participants-btn {
    max-width: 90px;
    padding: 0.5rem;
    font-size: 1rem;
  }
}
