.profile {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
  min-height: 80dvh;
}

.profile-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  h2 {
    color: var(--background-color);
    font-family: var(--header-font);
    margin: 0 auto;
  }
}
.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 50%;
  transform: translate(50%);
}

.profile-content {
  margin-top: 2rem;
  display: flex;
  .profile-image {
    flex: 1 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      max-width: 250px;
      max-height: 250px;
      margin: 0 auto;
      display: block;
    }
  }
  .profile-details {
    flex: 1 2;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    p {
      margin-top: 0.5rem;
    }
    .separator {
      height: 1px;
      width: 80%;
      margin: 2rem auto;
      background-color: var(--primary-color);
    }
  }
}

.latest-friends .friend-container {
  margin: 1rem 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  max-width: 100%;
  .friend {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    p{
      text-align: center;
    }
    img {
      width: 60px;
      height: 60px;
      object-fit: cover;
    }
    button {
      padding: 0.5rem 1rem;
      border-radius: 5px;
      background-color: var(--alert-color);
      color: white;
      cursor: pointer;
      border: none;
      transition: 0.2s;
      &:active {
        transform: scale(0.96);
      }
    }
  }
}

.search {
  margin: 2rem auto;
  margin-bottom: 4rem;

  .search-bar form {
    margin: 1rem;
    display: flex;
    justify-content: center;
    input {
      padding: 0.5rem;
      border: 1px solid var(--primary-color);
      border-radius: 5px;
      margin-right: 0.5rem;
    }
    button {
      padding: 0.5rem;
      border-radius: 5px;
      background-color: var(--primary-color);
      color: white;
      cursor: pointer;
      border: none;
      transition: 0.2s;
      &:active {
        transform: scale(0.96);
      }
    }
  }
  .search-results {
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1rem;
    .user-card {
      background-color: #fff5e6;
      border-radius: 10px;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      justify-content: center;
      align-items: center;
      text-align: center;
      h2{
        font-size: 1rem;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        max-width: 60px;
        max-height: 60px;
      }
      p {
        font-size: 0.8rem;
        white-space: wrap;
      }
      .btn {
        padding: 0.5rem 0.75rem;
        border-radius: 5px;
        background-color: var(--primary-color);
        color: white;
        cursor: pointer;
        border: none;
        transition: 0.2s;
        &:active {
          transform: scale(0.96);
        }
      }
      .red {
        background-color: var(--alert-color);
      }
      .grey {
        background-color: lightgray;
        &:active {
          transform: scale(1);
        }
      }
      .lightgreen {
        background-color: var(--secondary-color);
      }
    }
  }
}
.friendship-requests {
  label {
    display: block;
    margin: 1rem auto;
    padding-left: 2rem;
    font-weight: bold;
  }
  .invitation {
    display: flex;
    align-items: center;
    padding: 5px 2rem;

    img {
      width: 30px;
      height: 30px;
      object-fit: cover;
      margin-right: 1rem;
    }
    button {
      margin-left: auto;
      border: none;
      padding: 0.5rem;
      &:hover {
        cursor: pointer;
      }
      &:active {
        transform: scale(0.96);
      }
    }
    .btn-close {
      border-radius: 50%;
      height: 28px;
      width: 28px;
    }
    .buttons {
      margin-left: auto;
      display: flex;
      gap: 0.5rem;
    }
  }
}
