.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
}

.signup-header {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  h2 {
    color: var(--background-color);
    font-family: var(--header-font);
    margin-bottom: 4rem;
  }
}
